@using Web.Domain
@using System.Net;
@using System.Net.Mail;
@model IEnumerable<Question>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Тест</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Tестування</a>
        </div>
    </nav>
    <div class="container">
        
        @{
            

            var smtpClient = new SmtpClient("smtp.gmail.com")
            {
                Port = 587,
                Credentials = new NetworkCredential("lebedchenkov@gmail.com", "020909lera-"),
                EnableSsl = true,
            };

            var mailMessage = new MailMessage
            {
                From = new MailAddress("test@mail.com"),
                Subject = "Результат",
                Body = "<h1> Результат тестування: " + @ViewBag.res + "</h1>",
                IsBodyHtml = true,
            };
            mailMessage.To.Add(@ViewBag.email);

            smtpClient.Send(mailMessage);
        
            <h3>Результат тестування: @ViewBag.res  </h3>
            <p>Відправлено @ViewBag.email</p>
        }

        <form method="get" action="/">
            <input value="Ще спроба" type="submit"  class="btn btn-primary mt-3 mb-3">
        </form>
    </div>
   
</body>
</html>